body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background: #f9ebcd;
  color: #333;
}

.container {
  position: relative
  max-width: 800px;
  margin: 60px auto;
  padding: 30px;
  background: #fff0d6;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  overflow: hidden;
}
.container::after {
  content: '';
  display: block;
  clear: both;
}
h1 {
  color: #6e0a75;
  font-size: 2em;
  margin-bottom: 20px;
}

.intro {
  font-size: 1.1em;
  margin-bottom: 24px;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.timeline .event {
  background: #ffe09e;
  padding: 12px;
  border-radius: 8px;
  border-left: 6px solid #fbdfa2;
  box-shadow: 0 2px 6px rgb(251, 208, 208,0.05);
  text-decoration: none;
  color: #333;
  text-align: left;
  transition: background 0.3s;
}

.timeline .event:hover {
  background: #ec8e8e;
}
.event {
  display:block;
  margin-bottom: 20px;
  background: #ffe09e;
  padding: 12px;
  border-radius: 8px;
  border-left: 6px solid #000000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  cursor: pointer;
  font-size: 1em;
  text-align: left;
  transition: background 0.3s;
  border: none;
}

.event:hover {
  background: #ec8e8e;
}

footer {
  margin-top: 30px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.week-labels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  color: #d63384;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  margin-top: 20px;
}

.day {
  background: #fff;
  border-left: 6px solid #d63384;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
}

/* 假日配色 */
.day.wk {
  background-color: #fff0f6;
}
.day.wd {
  background-color: #f9f9f9;
}
/* 空白日也要顯示 */
.day.wkn {
  background-color: #fff0f6;
  border-left: 6px solid transparent;
}
.day.empty {
  background-color: #f9f9f9;
  border-left: 6px solid transparent;
}

/* 日期與詳細文字 */
.date-label {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 4px;
  color: #d63384;
}

.detail {
  font-size: 0.75em;
  color: #555;
  text-align: left;
  line-height: 1.2;
  word-break: break-word;
  overflow-wrap: break-word;
}
.date-counter {
  text-align: center;
  font-size: 0.9em;
  color: #555;
  margin-top: 20px;
  line-height: 1.6;
}

.section-title {
  text-align: center;
  margin: 30px 0;
}
.section-title h2 {
  font-size: 2em;
  color: #d63384;
  margin-bottom: 10px;
}
.section-title .subtitle {
  font-size: 1em;
  color: #555;
}

.footer-centered {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  color: #d63384;
}